:root {
 --main-color: #975100;
 --black: #000000;
 --bg: #000000;
 --border: 0.1rem solid #6c6868;
 font-size: 10px;
}
   

* {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.3s linear;
         font-family: "Roboto", sans-serif;

}
        
body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}


.header {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 99;
border-bottom: var(--border);
background-color: var(--bg);
}

.header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0 1rem;;
}

.navbar a:hover {       
    border-bottom: 0.1rem solid var(--main-color);
    color: var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img:hover {   
    width: 40px;
    height: 40px;
    transform: scale(1.2);
}

.icons img {
    width: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.btn {
    background: var(--main-color);
    color: #fefefe;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;

}

.btn:hover {
    letter-spacing: 0.2rem;
    background: #723904b9;
    color: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    transform: translateY(-0.2rem);
}   

.home-container {
    background: url("IMAGENSCF/Brown\ and\ Cream\ Minimalist\ International\ Coffee\ Day\ Facebook\ Post.jpg");
    height: 110vh;
    background-size: cover;

}


.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    font-size: 6rem;
    color: #fff;
    
}

.content p {
    font-size: 2rem;
    color: #fff;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    text-align: center;
    font-size: 4rem;
    color: #a74d15ec;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}
.about .row {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--black);

}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 2.5rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .image h3 {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}

.box-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    
}

.menu .box-container .box {
    text-align: center;
    padding: 2rem;
    border: var(--border);
    cursor: pointer;
    
}

.menu .box-container .box img {
    height: 10rem;
    margin-bottom: 1rem;
}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.menu .box-container .box p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.8;
}

.menu .box-container .box .price {
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span:first-child {
   font-size: 1.5rem;
    font-weight: lighter;
    text-decoration:  line-through;
}

.menu .box-container .box .price span {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: line-through;
    font-weight: 100;
}

.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}


.review .box-container .box {
    text-align: center;
    padding: 3rem 2rem;
    border: var(--border);
    
    
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.8;
    padding: 2rem 0;
}

.review .box-container .box h3 {
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem 0;
}


.review .box-container .box .user {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.address {
    text-align: center;

    
}


.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
    transform: scale(1.1);
}